@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,900,900italic,700italic,500italic&subset=latin,greek);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/paymentfont/1.1.2/css/paymentfont.min.css);

$breakpoint-small: 34em;
$breakpoint-medium: 48em;
$breakpoint-large: 62em;
$breakpoint-xlarge: 75em;

$container-small: 34rem;
$container-medium: 45rem;
$container-large: 60rem;
$container-xlarge: 72.25rem;

$row-gutter: .9375rem;
$screens: ( (small, $breakpoint-small, $container-small), (medium, $breakpoint-medium, $container-medium), (large, $breakpoint-large, $container-large), (xlarge, $breakpoint-xlarge, $container-xlarge));
$grid-prefix: xs sm md lg xl;

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* yuvstrap.css start */
@function get-list($label) {
    @each $list in $breakpoint-list {
        @if nth($list, 1)==$label {
            @return $list;
        }
    }
    @return null;
}

@mixin breakpoint($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content ;
    }
}

@mixin clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    *zoom: 1;
}

@mixin grid-for($prefix) {
  @for $grid from 1 through  12 {
    @for $cell from 1 through $grid {
      .#{$prefix}-#{$cell}-#{$grid} {
        width: (100% / $grid) * $cell;
      }
      @if($cell != $grid) {
        .#{$prefix}-push-#{$cell}-#{$grid} {
          margin-left: (100% / $grid) * $cell;
        }
      }
    }
  }
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', 'sans-serif';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}

/* MOST USED */

a {
    color: #0275d8;
    text-decoration: none;
    &:focus,
    &:hover {
      color: #014c8c;
      text-decoration: underline;
    }
    &:focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/*** HELPERS ***/

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-nowrap {
    white-space: nowrap;
}

.vertical-align {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    .block {
        display: block;
    }
}

.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    *zoom: 1;
}


/*** CLASSIC GRID ***/

[class*='container'] {
    padding-right: $row-gutter;
    padding-left: $row-gutter;
    margin-right: auto;
    margin-left: auto;
    &:before,
    &:after {
        content: "";
        display:table;
    }
    &:after {
        clear: both;
    }
    &.no-gutter {
        padding: 0;
    }
}

@each $size,
$breakpoint,
$container-width in $screens {
    @include breakpoint($breakpoint) {
        .container {
            width: $container-width;
        }
    }
}
%zero-padding {
  padding:0;
}
%float-left {
  float:left;
}

.row {
    margin-right: -$row-gutter;
    margin-left: -$row-gutter;
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
    &.no-gutter {
        margin: 0;
        @each $prefix in $grid-prefix {
          [class*=#{$prefix}-] {
            @extend %zero-padding;
          }
        }
    }
    .no-gutter & {
        margin: 0;
    }
    &.vertical-align {
        display: flex;
        align-items: center;
    }
}

%cell-position {
  float:left;
  position: relative;
  min-height: 1px;
  padding: 0 $row-gutter;
  .zero-pad {
      padding: 0;
  }
}

@each $prefix in $grid-prefix {
    [class*=#{$prefix}-] {
      @extend %cell-position;
    }
}

@include grid-for('xs');

@media (min-width: $breakpoint-small) {
    @include grid-for('sm');
}

@media (min-width: $breakpoint-medium) {
    @include grid-for('md');
}

@media (min-width: $breakpoint-large) {
    @include grid-for('lg');
}

.hidden-xs-up {
    display: none !important;
}

@media (max-width: 33.9em) {
    .hidden-xs-down {
        display: none !important;
    }
}

@media (min-width: $breakpoint-small) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: $breakpoint-medium - 0.1em) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: $breakpoint-medium) {
    .hidden-md-up {
        display: none !important;
    }
}

@media (max-width: $breakpoint-large - 0.1em) {
    .hidden-md-down {
        display: none !important;
    }
}

@media (min-width: $breakpoint-large) {
    .hidden-lg-up {
        display: none !important;
    }
}

@media (max-width: $breakpoint-xlarge - 0.1em) {
    .hidden-lg-down {
        display: none !important;
    }
}

@media (min-width: $breakpoint-xlarge) {
    .hidden-xl-up {
        display: none !important;
    }
}

.hidden-xl-down {
    display: none !important;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.align-xs-left {
    text-align: left;
}

.align-xs-right {
    text-align: right;
}

.align-xs-center {
    text-align: center;
}

@media (min-width: $breakpoint-small) {
    .align-sm-left {
        text-align: left !important;
    }
    .align-sm-right {
        text-align: right !important;
    }
    .align-sm-center {
        text-align: center !important;
    }
}

@media (min-width: $breakpoint-medium) {
    .align-md-left {
        text-align: left !important;
    }
    .align-md-right {
        text-align: right !important;
    }
    .align-md-center {
        text-align: center !important;
    }
}

@media (min-width: $breakpoint-large) {
    .align-lg-left {
        text-align: left !important;
    }
    .align-lg-right {
        text-align: right !important;
    }
    .align-lg-center {
        text-align: center !important;
    }
}

.navbar {
    position: relative;
    padding: 0.5rem 1rem;
    @include clearfix();
}

.navbar-brand {
    float: left;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.navbar-brand > img {
    display: block;
}

.navbar-divider {
    float: left;
    width: 1px;
    padding-top: .425rem;
    padding-bottom: .425rem;
    margin-right: 1rem;
    margin-left: 1rem;
    overflow: hidden;
}

.navbar-divider::before {
    content: "\00a0";
}

.navbar-nav .nav-item {
    float: left;
}

.navbar-nav .nav-link {
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem;
}

.navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
}

.navbar-nav .nav-item + .nav-item {
    margin-left: 1rem;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: inline-block;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}


/*** normalize.css styles decorations ***/

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #818a91;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
}

[role="button"] {
    cursor: pointer;
}

table {
    background-color: transparent;
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #818a91;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

input,
button,
select,
textarea {
    margin: 0;
    line-height: inherit;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
}

input[type="search"] {
    -webkit-appearance: none;
}

output {
    display: inline-block;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: .0625rem solid rgba(0, 0, 0, .1);
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
    padding: .2rem .4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f7f7f9;
    border-radius: .25rem;
}

kbd {
    padding: .2rem .4rem;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: .2rem;
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 90%;
    line-height: 1.5;
    color: #373a3c;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
}

.img-responsive,
.figure > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: .3rem;
}

/* Common button css */
.btn {
    display: inline-block;
    padding: .375rem 1rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: .0625rem solid transparent;
    border-radius: .25rem;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:focus,
.btn:hover {
    text-decoration: none;
}

.btn.focus {
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
}

.btn.disabled,
.btn:disabled,
fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
}

a.btn.disaabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

.btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    background-image: none;
}

.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-primary.disabled:hover,
.btn-primary:disabled:hover,
fieldset[disabled] .btn-primary:hover {
    background-color: #0275d8;
    border-color: #0275d8;
}


/*FLEX GRID IS ALPHA*/
.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
    margin-right: -$row-gutter;
    margin-left: -$row-gutter;
}

.grid > [class*="xs-"],
.grid > [class*="sm-"],
.grid > [class*="md-"],
.grid > [class*="lg-"] {
    position: relative;
    display: inline-block;
    padding-left: $row-gutter;
    padding-right: $row-gutter;
    vertical-align: top;
}
