@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,900,900italic,700italic,500italic&subset=latin,greek);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/paymentfont/1.1.2/css/paymentfont.min.css);
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* yuvstrap.css start */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'sans-serif';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}

/* MOST USED */
a {
  color: #0275d8;
  text-decoration: none;
}

a:focus, a:hover {
  color: #014c8c;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/*** HELPERS ***/
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-nowrap {
  white-space: nowrap;
}

.vertical-align {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.vertical-align .block {
  display: block;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/*** CLASSIC GRID ***/
[class*='container'] {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

[class*='container']:before, [class*='container']:after {
  content: "";
  display: table;
}

[class*='container']:after {
  clear: both;
}

[class*='container'].no-gutter {
  padding: 0;
}

@media screen and (min-width: 34em) {
  .container {
    width: 34rem;
  }
}

@media screen and (min-width: 48em) {
  .container {
    width: 45rem;
  }
}

@media screen and (min-width: 62em) {
  .container {
    width: 60rem;
  }
}

@media screen and (min-width: 75em) {
  .container {
    width: 72.25rem;
  }
}

.row.no-gutter [class*=xs-], .row.no-gutter [class*=sm-], .row.no-gutter [class*=md-], .row.no-gutter [class*=lg-], .row.no-gutter [class*=xl-] {
  padding: 0;
}

.row {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row.no-gutter {
  margin: 0;
}

.no-gutter .row {
  margin: 0;
}

.row.vertical-align {
  display: flex;
  align-items: center;
}

[class*=xs-], [class*=sm-], [class*=md-], [class*=lg-], [class*=xl-] {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 0.9375rem;
}

[class*=xs-] .zero-pad, [class*=sm-] .zero-pad, [class*=md-] .zero-pad, [class*=lg-] .zero-pad, [class*=xl-] .zero-pad {
  padding: 0;
}

.xs-1-1 {
  width: 100%;
}

.xs-1-2 {
  width: 50%;
}

.xs-push-1-2 {
  margin-left: 50%;
}

.xs-2-2 {
  width: 100%;
}

.xs-1-3 {
  width: 33.33333%;
}

.xs-push-1-3 {
  margin-left: 33.33333%;
}

.xs-2-3 {
  width: 66.66667%;
}

.xs-push-2-3 {
  margin-left: 66.66667%;
}

.xs-3-3 {
  width: 100%;
}

.xs-1-4 {
  width: 25%;
}

.xs-push-1-4 {
  margin-left: 25%;
}

.xs-2-4 {
  width: 50%;
}

.xs-push-2-4 {
  margin-left: 50%;
}

.xs-3-4 {
  width: 75%;
}

.xs-push-3-4 {
  margin-left: 75%;
}

.xs-4-4 {
  width: 100%;
}

.xs-1-5 {
  width: 20%;
}

.xs-push-1-5 {
  margin-left: 20%;
}

.xs-2-5 {
  width: 40%;
}

.xs-push-2-5 {
  margin-left: 40%;
}

.xs-3-5 {
  width: 60%;
}

.xs-push-3-5 {
  margin-left: 60%;
}

.xs-4-5 {
  width: 80%;
}

.xs-push-4-5 {
  margin-left: 80%;
}

.xs-5-5 {
  width: 100%;
}

.xs-1-6 {
  width: 16.66667%;
}

.xs-push-1-6 {
  margin-left: 16.66667%;
}

.xs-2-6 {
  width: 33.33333%;
}

.xs-push-2-6 {
  margin-left: 33.33333%;
}

.xs-3-6 {
  width: 50%;
}

.xs-push-3-6 {
  margin-left: 50%;
}

.xs-4-6 {
  width: 66.66667%;
}

.xs-push-4-6 {
  margin-left: 66.66667%;
}

.xs-5-6 {
  width: 83.33333%;
}

.xs-push-5-6 {
  margin-left: 83.33333%;
}

.xs-6-6 {
  width: 100%;
}

.xs-1-7 {
  width: 14.28571%;
}

.xs-push-1-7 {
  margin-left: 14.28571%;
}

.xs-2-7 {
  width: 28.57143%;
}

.xs-push-2-7 {
  margin-left: 28.57143%;
}

.xs-3-7 {
  width: 42.85714%;
}

.xs-push-3-7 {
  margin-left: 42.85714%;
}

.xs-4-7 {
  width: 57.14286%;
}

.xs-push-4-7 {
  margin-left: 57.14286%;
}

.xs-5-7 {
  width: 71.42857%;
}

.xs-push-5-7 {
  margin-left: 71.42857%;
}

.xs-6-7 {
  width: 85.71429%;
}

.xs-push-6-7 {
  margin-left: 85.71429%;
}

.xs-7-7 {
  width: 100%;
}

.xs-1-8 {
  width: 12.5%;
}

.xs-push-1-8 {
  margin-left: 12.5%;
}

.xs-2-8 {
  width: 25%;
}

.xs-push-2-8 {
  margin-left: 25%;
}

.xs-3-8 {
  width: 37.5%;
}

.xs-push-3-8 {
  margin-left: 37.5%;
}

.xs-4-8 {
  width: 50%;
}

.xs-push-4-8 {
  margin-left: 50%;
}

.xs-5-8 {
  width: 62.5%;
}

.xs-push-5-8 {
  margin-left: 62.5%;
}

.xs-6-8 {
  width: 75%;
}

.xs-push-6-8 {
  margin-left: 75%;
}

.xs-7-8 {
  width: 87.5%;
}

.xs-push-7-8 {
  margin-left: 87.5%;
}

.xs-8-8 {
  width: 100%;
}

.xs-1-9 {
  width: 11.11111%;
}

.xs-push-1-9 {
  margin-left: 11.11111%;
}

.xs-2-9 {
  width: 22.22222%;
}

.xs-push-2-9 {
  margin-left: 22.22222%;
}

.xs-3-9 {
  width: 33.33333%;
}

.xs-push-3-9 {
  margin-left: 33.33333%;
}

.xs-4-9 {
  width: 44.44444%;
}

.xs-push-4-9 {
  margin-left: 44.44444%;
}

.xs-5-9 {
  width: 55.55556%;
}

.xs-push-5-9 {
  margin-left: 55.55556%;
}

.xs-6-9 {
  width: 66.66667%;
}

.xs-push-6-9 {
  margin-left: 66.66667%;
}

.xs-7-9 {
  width: 77.77778%;
}

.xs-push-7-9 {
  margin-left: 77.77778%;
}

.xs-8-9 {
  width: 88.88889%;
}

.xs-push-8-9 {
  margin-left: 88.88889%;
}

.xs-9-9 {
  width: 100%;
}

.xs-1-10 {
  width: 10%;
}

.xs-push-1-10 {
  margin-left: 10%;
}

.xs-2-10 {
  width: 20%;
}

.xs-push-2-10 {
  margin-left: 20%;
}

.xs-3-10 {
  width: 30%;
}

.xs-push-3-10 {
  margin-left: 30%;
}

.xs-4-10 {
  width: 40%;
}

.xs-push-4-10 {
  margin-left: 40%;
}

.xs-5-10 {
  width: 50%;
}

.xs-push-5-10 {
  margin-left: 50%;
}

.xs-6-10 {
  width: 60%;
}

.xs-push-6-10 {
  margin-left: 60%;
}

.xs-7-10 {
  width: 70%;
}

.xs-push-7-10 {
  margin-left: 70%;
}

.xs-8-10 {
  width: 80%;
}

.xs-push-8-10 {
  margin-left: 80%;
}

.xs-9-10 {
  width: 90%;
}

.xs-push-9-10 {
  margin-left: 90%;
}

.xs-10-10 {
  width: 100%;
}

.xs-1-11 {
  width: 9.09091%;
}

.xs-push-1-11 {
  margin-left: 9.09091%;
}

.xs-2-11 {
  width: 18.18182%;
}

.xs-push-2-11 {
  margin-left: 18.18182%;
}

.xs-3-11 {
  width: 27.27273%;
}

.xs-push-3-11 {
  margin-left: 27.27273%;
}

.xs-4-11 {
  width: 36.36364%;
}

.xs-push-4-11 {
  margin-left: 36.36364%;
}

.xs-5-11 {
  width: 45.45455%;
}

.xs-push-5-11 {
  margin-left: 45.45455%;
}

.xs-6-11 {
  width: 54.54545%;
}

.xs-push-6-11 {
  margin-left: 54.54545%;
}

.xs-7-11 {
  width: 63.63636%;
}

.xs-push-7-11 {
  margin-left: 63.63636%;
}

.xs-8-11 {
  width: 72.72727%;
}

.xs-push-8-11 {
  margin-left: 72.72727%;
}

.xs-9-11 {
  width: 81.81818%;
}

.xs-push-9-11 {
  margin-left: 81.81818%;
}

.xs-10-11 {
  width: 90.90909%;
}

.xs-push-10-11 {
  margin-left: 90.90909%;
}

.xs-11-11 {
  width: 100%;
}

.xs-1-12 {
  width: 8.33333%;
}

.xs-push-1-12 {
  margin-left: 8.33333%;
}

.xs-2-12 {
  width: 16.66667%;
}

.xs-push-2-12 {
  margin-left: 16.66667%;
}

.xs-3-12 {
  width: 25%;
}

.xs-push-3-12 {
  margin-left: 25%;
}

.xs-4-12 {
  width: 33.33333%;
}

.xs-push-4-12 {
  margin-left: 33.33333%;
}

.xs-5-12 {
  width: 41.66667%;
}

.xs-push-5-12 {
  margin-left: 41.66667%;
}

.xs-6-12 {
  width: 50%;
}

.xs-push-6-12 {
  margin-left: 50%;
}

.xs-7-12 {
  width: 58.33333%;
}

.xs-push-7-12 {
  margin-left: 58.33333%;
}

.xs-8-12 {
  width: 66.66667%;
}

.xs-push-8-12 {
  margin-left: 66.66667%;
}

.xs-9-12 {
  width: 75%;
}

.xs-push-9-12 {
  margin-left: 75%;
}

.xs-10-12 {
  width: 83.33333%;
}

.xs-push-10-12 {
  margin-left: 83.33333%;
}

.xs-11-12 {
  width: 91.66667%;
}

.xs-push-11-12 {
  margin-left: 91.66667%;
}

.xs-12-12 {
  width: 100%;
}

@media (min-width: 34em) {
  .sm-1-1 {
    width: 100%;
  }
  .sm-1-2 {
    width: 50%;
  }
  .sm-push-1-2 {
    margin-left: 50%;
  }
  .sm-2-2 {
    width: 100%;
  }
  .sm-1-3 {
    width: 33.33333%;
  }
  .sm-push-1-3 {
    margin-left: 33.33333%;
  }
  .sm-2-3 {
    width: 66.66667%;
  }
  .sm-push-2-3 {
    margin-left: 66.66667%;
  }
  .sm-3-3 {
    width: 100%;
  }
  .sm-1-4 {
    width: 25%;
  }
  .sm-push-1-4 {
    margin-left: 25%;
  }
  .sm-2-4 {
    width: 50%;
  }
  .sm-push-2-4 {
    margin-left: 50%;
  }
  .sm-3-4 {
    width: 75%;
  }
  .sm-push-3-4 {
    margin-left: 75%;
  }
  .sm-4-4 {
    width: 100%;
  }
  .sm-1-5 {
    width: 20%;
  }
  .sm-push-1-5 {
    margin-left: 20%;
  }
  .sm-2-5 {
    width: 40%;
  }
  .sm-push-2-5 {
    margin-left: 40%;
  }
  .sm-3-5 {
    width: 60%;
  }
  .sm-push-3-5 {
    margin-left: 60%;
  }
  .sm-4-5 {
    width: 80%;
  }
  .sm-push-4-5 {
    margin-left: 80%;
  }
  .sm-5-5 {
    width: 100%;
  }
  .sm-1-6 {
    width: 16.66667%;
  }
  .sm-push-1-6 {
    margin-left: 16.66667%;
  }
  .sm-2-6 {
    width: 33.33333%;
  }
  .sm-push-2-6 {
    margin-left: 33.33333%;
  }
  .sm-3-6 {
    width: 50%;
  }
  .sm-push-3-6 {
    margin-left: 50%;
  }
  .sm-4-6 {
    width: 66.66667%;
  }
  .sm-push-4-6 {
    margin-left: 66.66667%;
  }
  .sm-5-6 {
    width: 83.33333%;
  }
  .sm-push-5-6 {
    margin-left: 83.33333%;
  }
  .sm-6-6 {
    width: 100%;
  }
  .sm-1-7 {
    width: 14.28571%;
  }
  .sm-push-1-7 {
    margin-left: 14.28571%;
  }
  .sm-2-7 {
    width: 28.57143%;
  }
  .sm-push-2-7 {
    margin-left: 28.57143%;
  }
  .sm-3-7 {
    width: 42.85714%;
  }
  .sm-push-3-7 {
    margin-left: 42.85714%;
  }
  .sm-4-7 {
    width: 57.14286%;
  }
  .sm-push-4-7 {
    margin-left: 57.14286%;
  }
  .sm-5-7 {
    width: 71.42857%;
  }
  .sm-push-5-7 {
    margin-left: 71.42857%;
  }
  .sm-6-7 {
    width: 85.71429%;
  }
  .sm-push-6-7 {
    margin-left: 85.71429%;
  }
  .sm-7-7 {
    width: 100%;
  }
  .sm-1-8 {
    width: 12.5%;
  }
  .sm-push-1-8 {
    margin-left: 12.5%;
  }
  .sm-2-8 {
    width: 25%;
  }
  .sm-push-2-8 {
    margin-left: 25%;
  }
  .sm-3-8 {
    width: 37.5%;
  }
  .sm-push-3-8 {
    margin-left: 37.5%;
  }
  .sm-4-8 {
    width: 50%;
  }
  .sm-push-4-8 {
    margin-left: 50%;
  }
  .sm-5-8 {
    width: 62.5%;
  }
  .sm-push-5-8 {
    margin-left: 62.5%;
  }
  .sm-6-8 {
    width: 75%;
  }
  .sm-push-6-8 {
    margin-left: 75%;
  }
  .sm-7-8 {
    width: 87.5%;
  }
  .sm-push-7-8 {
    margin-left: 87.5%;
  }
  .sm-8-8 {
    width: 100%;
  }
  .sm-1-9 {
    width: 11.11111%;
  }
  .sm-push-1-9 {
    margin-left: 11.11111%;
  }
  .sm-2-9 {
    width: 22.22222%;
  }
  .sm-push-2-9 {
    margin-left: 22.22222%;
  }
  .sm-3-9 {
    width: 33.33333%;
  }
  .sm-push-3-9 {
    margin-left: 33.33333%;
  }
  .sm-4-9 {
    width: 44.44444%;
  }
  .sm-push-4-9 {
    margin-left: 44.44444%;
  }
  .sm-5-9 {
    width: 55.55556%;
  }
  .sm-push-5-9 {
    margin-left: 55.55556%;
  }
  .sm-6-9 {
    width: 66.66667%;
  }
  .sm-push-6-9 {
    margin-left: 66.66667%;
  }
  .sm-7-9 {
    width: 77.77778%;
  }
  .sm-push-7-9 {
    margin-left: 77.77778%;
  }
  .sm-8-9 {
    width: 88.88889%;
  }
  .sm-push-8-9 {
    margin-left: 88.88889%;
  }
  .sm-9-9 {
    width: 100%;
  }
  .sm-1-10 {
    width: 10%;
  }
  .sm-push-1-10 {
    margin-left: 10%;
  }
  .sm-2-10 {
    width: 20%;
  }
  .sm-push-2-10 {
    margin-left: 20%;
  }
  .sm-3-10 {
    width: 30%;
  }
  .sm-push-3-10 {
    margin-left: 30%;
  }
  .sm-4-10 {
    width: 40%;
  }
  .sm-push-4-10 {
    margin-left: 40%;
  }
  .sm-5-10 {
    width: 50%;
  }
  .sm-push-5-10 {
    margin-left: 50%;
  }
  .sm-6-10 {
    width: 60%;
  }
  .sm-push-6-10 {
    margin-left: 60%;
  }
  .sm-7-10 {
    width: 70%;
  }
  .sm-push-7-10 {
    margin-left: 70%;
  }
  .sm-8-10 {
    width: 80%;
  }
  .sm-push-8-10 {
    margin-left: 80%;
  }
  .sm-9-10 {
    width: 90%;
  }
  .sm-push-9-10 {
    margin-left: 90%;
  }
  .sm-10-10 {
    width: 100%;
  }
  .sm-1-11 {
    width: 9.09091%;
  }
  .sm-push-1-11 {
    margin-left: 9.09091%;
  }
  .sm-2-11 {
    width: 18.18182%;
  }
  .sm-push-2-11 {
    margin-left: 18.18182%;
  }
  .sm-3-11 {
    width: 27.27273%;
  }
  .sm-push-3-11 {
    margin-left: 27.27273%;
  }
  .sm-4-11 {
    width: 36.36364%;
  }
  .sm-push-4-11 {
    margin-left: 36.36364%;
  }
  .sm-5-11 {
    width: 45.45455%;
  }
  .sm-push-5-11 {
    margin-left: 45.45455%;
  }
  .sm-6-11 {
    width: 54.54545%;
  }
  .sm-push-6-11 {
    margin-left: 54.54545%;
  }
  .sm-7-11 {
    width: 63.63636%;
  }
  .sm-push-7-11 {
    margin-left: 63.63636%;
  }
  .sm-8-11 {
    width: 72.72727%;
  }
  .sm-push-8-11 {
    margin-left: 72.72727%;
  }
  .sm-9-11 {
    width: 81.81818%;
  }
  .sm-push-9-11 {
    margin-left: 81.81818%;
  }
  .sm-10-11 {
    width: 90.90909%;
  }
  .sm-push-10-11 {
    margin-left: 90.90909%;
  }
  .sm-11-11 {
    width: 100%;
  }
  .sm-1-12 {
    width: 8.33333%;
  }
  .sm-push-1-12 {
    margin-left: 8.33333%;
  }
  .sm-2-12 {
    width: 16.66667%;
  }
  .sm-push-2-12 {
    margin-left: 16.66667%;
  }
  .sm-3-12 {
    width: 25%;
  }
  .sm-push-3-12 {
    margin-left: 25%;
  }
  .sm-4-12 {
    width: 33.33333%;
  }
  .sm-push-4-12 {
    margin-left: 33.33333%;
  }
  .sm-5-12 {
    width: 41.66667%;
  }
  .sm-push-5-12 {
    margin-left: 41.66667%;
  }
  .sm-6-12 {
    width: 50%;
  }
  .sm-push-6-12 {
    margin-left: 50%;
  }
  .sm-7-12 {
    width: 58.33333%;
  }
  .sm-push-7-12 {
    margin-left: 58.33333%;
  }
  .sm-8-12 {
    width: 66.66667%;
  }
  .sm-push-8-12 {
    margin-left: 66.66667%;
  }
  .sm-9-12 {
    width: 75%;
  }
  .sm-push-9-12 {
    margin-left: 75%;
  }
  .sm-10-12 {
    width: 83.33333%;
  }
  .sm-push-10-12 {
    margin-left: 83.33333%;
  }
  .sm-11-12 {
    width: 91.66667%;
  }
  .sm-push-11-12 {
    margin-left: 91.66667%;
  }
  .sm-12-12 {
    width: 100%;
  }
}

@media (min-width: 48em) {
  .md-1-1 {
    width: 100%;
  }
  .md-1-2 {
    width: 50%;
  }
  .md-push-1-2 {
    margin-left: 50%;
  }
  .md-2-2 {
    width: 100%;
  }
  .md-1-3 {
    width: 33.33333%;
  }
  .md-push-1-3 {
    margin-left: 33.33333%;
  }
  .md-2-3 {
    width: 66.66667%;
  }
  .md-push-2-3 {
    margin-left: 66.66667%;
  }
  .md-3-3 {
    width: 100%;
  }
  .md-1-4 {
    width: 25%;
  }
  .md-push-1-4 {
    margin-left: 25%;
  }
  .md-2-4 {
    width: 50%;
  }
  .md-push-2-4 {
    margin-left: 50%;
  }
  .md-3-4 {
    width: 75%;
  }
  .md-push-3-4 {
    margin-left: 75%;
  }
  .md-4-4 {
    width: 100%;
  }
  .md-1-5 {
    width: 20%;
  }
  .md-push-1-5 {
    margin-left: 20%;
  }
  .md-2-5 {
    width: 40%;
  }
  .md-push-2-5 {
    margin-left: 40%;
  }
  .md-3-5 {
    width: 60%;
  }
  .md-push-3-5 {
    margin-left: 60%;
  }
  .md-4-5 {
    width: 80%;
  }
  .md-push-4-5 {
    margin-left: 80%;
  }
  .md-5-5 {
    width: 100%;
  }
  .md-1-6 {
    width: 16.66667%;
  }
  .md-push-1-6 {
    margin-left: 16.66667%;
  }
  .md-2-6 {
    width: 33.33333%;
  }
  .md-push-2-6 {
    margin-left: 33.33333%;
  }
  .md-3-6 {
    width: 50%;
  }
  .md-push-3-6 {
    margin-left: 50%;
  }
  .md-4-6 {
    width: 66.66667%;
  }
  .md-push-4-6 {
    margin-left: 66.66667%;
  }
  .md-5-6 {
    width: 83.33333%;
  }
  .md-push-5-6 {
    margin-left: 83.33333%;
  }
  .md-6-6 {
    width: 100%;
  }
  .md-1-7 {
    width: 14.28571%;
  }
  .md-push-1-7 {
    margin-left: 14.28571%;
  }
  .md-2-7 {
    width: 28.57143%;
  }
  .md-push-2-7 {
    margin-left: 28.57143%;
  }
  .md-3-7 {
    width: 42.85714%;
  }
  .md-push-3-7 {
    margin-left: 42.85714%;
  }
  .md-4-7 {
    width: 57.14286%;
  }
  .md-push-4-7 {
    margin-left: 57.14286%;
  }
  .md-5-7 {
    width: 71.42857%;
  }
  .md-push-5-7 {
    margin-left: 71.42857%;
  }
  .md-6-7 {
    width: 85.71429%;
  }
  .md-push-6-7 {
    margin-left: 85.71429%;
  }
  .md-7-7 {
    width: 100%;
  }
  .md-1-8 {
    width: 12.5%;
  }
  .md-push-1-8 {
    margin-left: 12.5%;
  }
  .md-2-8 {
    width: 25%;
  }
  .md-push-2-8 {
    margin-left: 25%;
  }
  .md-3-8 {
    width: 37.5%;
  }
  .md-push-3-8 {
    margin-left: 37.5%;
  }
  .md-4-8 {
    width: 50%;
  }
  .md-push-4-8 {
    margin-left: 50%;
  }
  .md-5-8 {
    width: 62.5%;
  }
  .md-push-5-8 {
    margin-left: 62.5%;
  }
  .md-6-8 {
    width: 75%;
  }
  .md-push-6-8 {
    margin-left: 75%;
  }
  .md-7-8 {
    width: 87.5%;
  }
  .md-push-7-8 {
    margin-left: 87.5%;
  }
  .md-8-8 {
    width: 100%;
  }
  .md-1-9 {
    width: 11.11111%;
  }
  .md-push-1-9 {
    margin-left: 11.11111%;
  }
  .md-2-9 {
    width: 22.22222%;
  }
  .md-push-2-9 {
    margin-left: 22.22222%;
  }
  .md-3-9 {
    width: 33.33333%;
  }
  .md-push-3-9 {
    margin-left: 33.33333%;
  }
  .md-4-9 {
    width: 44.44444%;
  }
  .md-push-4-9 {
    margin-left: 44.44444%;
  }
  .md-5-9 {
    width: 55.55556%;
  }
  .md-push-5-9 {
    margin-left: 55.55556%;
  }
  .md-6-9 {
    width: 66.66667%;
  }
  .md-push-6-9 {
    margin-left: 66.66667%;
  }
  .md-7-9 {
    width: 77.77778%;
  }
  .md-push-7-9 {
    margin-left: 77.77778%;
  }
  .md-8-9 {
    width: 88.88889%;
  }
  .md-push-8-9 {
    margin-left: 88.88889%;
  }
  .md-9-9 {
    width: 100%;
  }
  .md-1-10 {
    width: 10%;
  }
  .md-push-1-10 {
    margin-left: 10%;
  }
  .md-2-10 {
    width: 20%;
  }
  .md-push-2-10 {
    margin-left: 20%;
  }
  .md-3-10 {
    width: 30%;
  }
  .md-push-3-10 {
    margin-left: 30%;
  }
  .md-4-10 {
    width: 40%;
  }
  .md-push-4-10 {
    margin-left: 40%;
  }
  .md-5-10 {
    width: 50%;
  }
  .md-push-5-10 {
    margin-left: 50%;
  }
  .md-6-10 {
    width: 60%;
  }
  .md-push-6-10 {
    margin-left: 60%;
  }
  .md-7-10 {
    width: 70%;
  }
  .md-push-7-10 {
    margin-left: 70%;
  }
  .md-8-10 {
    width: 80%;
  }
  .md-push-8-10 {
    margin-left: 80%;
  }
  .md-9-10 {
    width: 90%;
  }
  .md-push-9-10 {
    margin-left: 90%;
  }
  .md-10-10 {
    width: 100%;
  }
  .md-1-11 {
    width: 9.09091%;
  }
  .md-push-1-11 {
    margin-left: 9.09091%;
  }
  .md-2-11 {
    width: 18.18182%;
  }
  .md-push-2-11 {
    margin-left: 18.18182%;
  }
  .md-3-11 {
    width: 27.27273%;
  }
  .md-push-3-11 {
    margin-left: 27.27273%;
  }
  .md-4-11 {
    width: 36.36364%;
  }
  .md-push-4-11 {
    margin-left: 36.36364%;
  }
  .md-5-11 {
    width: 45.45455%;
  }
  .md-push-5-11 {
    margin-left: 45.45455%;
  }
  .md-6-11 {
    width: 54.54545%;
  }
  .md-push-6-11 {
    margin-left: 54.54545%;
  }
  .md-7-11 {
    width: 63.63636%;
  }
  .md-push-7-11 {
    margin-left: 63.63636%;
  }
  .md-8-11 {
    width: 72.72727%;
  }
  .md-push-8-11 {
    margin-left: 72.72727%;
  }
  .md-9-11 {
    width: 81.81818%;
  }
  .md-push-9-11 {
    margin-left: 81.81818%;
  }
  .md-10-11 {
    width: 90.90909%;
  }
  .md-push-10-11 {
    margin-left: 90.90909%;
  }
  .md-11-11 {
    width: 100%;
  }
  .md-1-12 {
    width: 8.33333%;
  }
  .md-push-1-12 {
    margin-left: 8.33333%;
  }
  .md-2-12 {
    width: 16.66667%;
  }
  .md-push-2-12 {
    margin-left: 16.66667%;
  }
  .md-3-12 {
    width: 25%;
  }
  .md-push-3-12 {
    margin-left: 25%;
  }
  .md-4-12 {
    width: 33.33333%;
  }
  .md-push-4-12 {
    margin-left: 33.33333%;
  }
  .md-5-12 {
    width: 41.66667%;
  }
  .md-push-5-12 {
    margin-left: 41.66667%;
  }
  .md-6-12 {
    width: 50%;
  }
  .md-push-6-12 {
    margin-left: 50%;
  }
  .md-7-12 {
    width: 58.33333%;
  }
  .md-push-7-12 {
    margin-left: 58.33333%;
  }
  .md-8-12 {
    width: 66.66667%;
  }
  .md-push-8-12 {
    margin-left: 66.66667%;
  }
  .md-9-12 {
    width: 75%;
  }
  .md-push-9-12 {
    margin-left: 75%;
  }
  .md-10-12 {
    width: 83.33333%;
  }
  .md-push-10-12 {
    margin-left: 83.33333%;
  }
  .md-11-12 {
    width: 91.66667%;
  }
  .md-push-11-12 {
    margin-left: 91.66667%;
  }
  .md-12-12 {
    width: 100%;
  }
}

@media (min-width: 62em) {
  .lg-1-1 {
    width: 100%;
  }
  .lg-1-2 {
    width: 50%;
  }
  .lg-push-1-2 {
    margin-left: 50%;
  }
  .lg-2-2 {
    width: 100%;
  }
  .lg-1-3 {
    width: 33.33333%;
  }
  .lg-push-1-3 {
    margin-left: 33.33333%;
  }
  .lg-2-3 {
    width: 66.66667%;
  }
  .lg-push-2-3 {
    margin-left: 66.66667%;
  }
  .lg-3-3 {
    width: 100%;
  }
  .lg-1-4 {
    width: 25%;
  }
  .lg-push-1-4 {
    margin-left: 25%;
  }
  .lg-2-4 {
    width: 50%;
  }
  .lg-push-2-4 {
    margin-left: 50%;
  }
  .lg-3-4 {
    width: 75%;
  }
  .lg-push-3-4 {
    margin-left: 75%;
  }
  .lg-4-4 {
    width: 100%;
  }
  .lg-1-5 {
    width: 20%;
  }
  .lg-push-1-5 {
    margin-left: 20%;
  }
  .lg-2-5 {
    width: 40%;
  }
  .lg-push-2-5 {
    margin-left: 40%;
  }
  .lg-3-5 {
    width: 60%;
  }
  .lg-push-3-5 {
    margin-left: 60%;
  }
  .lg-4-5 {
    width: 80%;
  }
  .lg-push-4-5 {
    margin-left: 80%;
  }
  .lg-5-5 {
    width: 100%;
  }
  .lg-1-6 {
    width: 16.66667%;
  }
  .lg-push-1-6 {
    margin-left: 16.66667%;
  }
  .lg-2-6 {
    width: 33.33333%;
  }
  .lg-push-2-6 {
    margin-left: 33.33333%;
  }
  .lg-3-6 {
    width: 50%;
  }
  .lg-push-3-6 {
    margin-left: 50%;
  }
  .lg-4-6 {
    width: 66.66667%;
  }
  .lg-push-4-6 {
    margin-left: 66.66667%;
  }
  .lg-5-6 {
    width: 83.33333%;
  }
  .lg-push-5-6 {
    margin-left: 83.33333%;
  }
  .lg-6-6 {
    width: 100%;
  }
  .lg-1-7 {
    width: 14.28571%;
  }
  .lg-push-1-7 {
    margin-left: 14.28571%;
  }
  .lg-2-7 {
    width: 28.57143%;
  }
  .lg-push-2-7 {
    margin-left: 28.57143%;
  }
  .lg-3-7 {
    width: 42.85714%;
  }
  .lg-push-3-7 {
    margin-left: 42.85714%;
  }
  .lg-4-7 {
    width: 57.14286%;
  }
  .lg-push-4-7 {
    margin-left: 57.14286%;
  }
  .lg-5-7 {
    width: 71.42857%;
  }
  .lg-push-5-7 {
    margin-left: 71.42857%;
  }
  .lg-6-7 {
    width: 85.71429%;
  }
  .lg-push-6-7 {
    margin-left: 85.71429%;
  }
  .lg-7-7 {
    width: 100%;
  }
  .lg-1-8 {
    width: 12.5%;
  }
  .lg-push-1-8 {
    margin-left: 12.5%;
  }
  .lg-2-8 {
    width: 25%;
  }
  .lg-push-2-8 {
    margin-left: 25%;
  }
  .lg-3-8 {
    width: 37.5%;
  }
  .lg-push-3-8 {
    margin-left: 37.5%;
  }
  .lg-4-8 {
    width: 50%;
  }
  .lg-push-4-8 {
    margin-left: 50%;
  }
  .lg-5-8 {
    width: 62.5%;
  }
  .lg-push-5-8 {
    margin-left: 62.5%;
  }
  .lg-6-8 {
    width: 75%;
  }
  .lg-push-6-8 {
    margin-left: 75%;
  }
  .lg-7-8 {
    width: 87.5%;
  }
  .lg-push-7-8 {
    margin-left: 87.5%;
  }
  .lg-8-8 {
    width: 100%;
  }
  .lg-1-9 {
    width: 11.11111%;
  }
  .lg-push-1-9 {
    margin-left: 11.11111%;
  }
  .lg-2-9 {
    width: 22.22222%;
  }
  .lg-push-2-9 {
    margin-left: 22.22222%;
  }
  .lg-3-9 {
    width: 33.33333%;
  }
  .lg-push-3-9 {
    margin-left: 33.33333%;
  }
  .lg-4-9 {
    width: 44.44444%;
  }
  .lg-push-4-9 {
    margin-left: 44.44444%;
  }
  .lg-5-9 {
    width: 55.55556%;
  }
  .lg-push-5-9 {
    margin-left: 55.55556%;
  }
  .lg-6-9 {
    width: 66.66667%;
  }
  .lg-push-6-9 {
    margin-left: 66.66667%;
  }
  .lg-7-9 {
    width: 77.77778%;
  }
  .lg-push-7-9 {
    margin-left: 77.77778%;
  }
  .lg-8-9 {
    width: 88.88889%;
  }
  .lg-push-8-9 {
    margin-left: 88.88889%;
  }
  .lg-9-9 {
    width: 100%;
  }
  .lg-1-10 {
    width: 10%;
  }
  .lg-push-1-10 {
    margin-left: 10%;
  }
  .lg-2-10 {
    width: 20%;
  }
  .lg-push-2-10 {
    margin-left: 20%;
  }
  .lg-3-10 {
    width: 30%;
  }
  .lg-push-3-10 {
    margin-left: 30%;
  }
  .lg-4-10 {
    width: 40%;
  }
  .lg-push-4-10 {
    margin-left: 40%;
  }
  .lg-5-10 {
    width: 50%;
  }
  .lg-push-5-10 {
    margin-left: 50%;
  }
  .lg-6-10 {
    width: 60%;
  }
  .lg-push-6-10 {
    margin-left: 60%;
  }
  .lg-7-10 {
    width: 70%;
  }
  .lg-push-7-10 {
    margin-left: 70%;
  }
  .lg-8-10 {
    width: 80%;
  }
  .lg-push-8-10 {
    margin-left: 80%;
  }
  .lg-9-10 {
    width: 90%;
  }
  .lg-push-9-10 {
    margin-left: 90%;
  }
  .lg-10-10 {
    width: 100%;
  }
  .lg-1-11 {
    width: 9.09091%;
  }
  .lg-push-1-11 {
    margin-left: 9.09091%;
  }
  .lg-2-11 {
    width: 18.18182%;
  }
  .lg-push-2-11 {
    margin-left: 18.18182%;
  }
  .lg-3-11 {
    width: 27.27273%;
  }
  .lg-push-3-11 {
    margin-left: 27.27273%;
  }
  .lg-4-11 {
    width: 36.36364%;
  }
  .lg-push-4-11 {
    margin-left: 36.36364%;
  }
  .lg-5-11 {
    width: 45.45455%;
  }
  .lg-push-5-11 {
    margin-left: 45.45455%;
  }
  .lg-6-11 {
    width: 54.54545%;
  }
  .lg-push-6-11 {
    margin-left: 54.54545%;
  }
  .lg-7-11 {
    width: 63.63636%;
  }
  .lg-push-7-11 {
    margin-left: 63.63636%;
  }
  .lg-8-11 {
    width: 72.72727%;
  }
  .lg-push-8-11 {
    margin-left: 72.72727%;
  }
  .lg-9-11 {
    width: 81.81818%;
  }
  .lg-push-9-11 {
    margin-left: 81.81818%;
  }
  .lg-10-11 {
    width: 90.90909%;
  }
  .lg-push-10-11 {
    margin-left: 90.90909%;
  }
  .lg-11-11 {
    width: 100%;
  }
  .lg-1-12 {
    width: 8.33333%;
  }
  .lg-push-1-12 {
    margin-left: 8.33333%;
  }
  .lg-2-12 {
    width: 16.66667%;
  }
  .lg-push-2-12 {
    margin-left: 16.66667%;
  }
  .lg-3-12 {
    width: 25%;
  }
  .lg-push-3-12 {
    margin-left: 25%;
  }
  .lg-4-12 {
    width: 33.33333%;
  }
  .lg-push-4-12 {
    margin-left: 33.33333%;
  }
  .lg-5-12 {
    width: 41.66667%;
  }
  .lg-push-5-12 {
    margin-left: 41.66667%;
  }
  .lg-6-12 {
    width: 50%;
  }
  .lg-push-6-12 {
    margin-left: 50%;
  }
  .lg-7-12 {
    width: 58.33333%;
  }
  .lg-push-7-12 {
    margin-left: 58.33333%;
  }
  .lg-8-12 {
    width: 66.66667%;
  }
  .lg-push-8-12 {
    margin-left: 66.66667%;
  }
  .lg-9-12 {
    width: 75%;
  }
  .lg-push-9-12 {
    margin-left: 75%;
  }
  .lg-10-12 {
    width: 83.33333%;
  }
  .lg-push-10-12 {
    margin-left: 83.33333%;
  }
  .lg-11-12 {
    width: 91.66667%;
  }
  .lg-push-11-12 {
    margin-left: 91.66667%;
  }
  .lg-12-12 {
    width: 100%;
  }
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 33.9em) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 34em) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 47.9em) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 48em) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 61.9em) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 62em) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 74.9em) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 75em) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.align-xs-left {
  text-align: left;
}

.align-xs-right {
  text-align: right;
}

.align-xs-center {
  text-align: center;
}

@media (min-width: 34em) {
  .align-sm-left {
    text-align: left !important;
  }
  .align-sm-right {
    text-align: right !important;
  }
  .align-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 48em) {
  .align-md-left {
    text-align: left !important;
  }
  .align-md-right {
    text-align: right !important;
  }
  .align-md-center {
    text-align: center !important;
  }
}

@media (min-width: 62em) {
  .align-lg-left {
    text-align: left !important;
  }
  .align-lg-right {
    text-align: right !important;
  }
  .align-lg-center {
    text-align: center !important;
  }
}


.navigation ul,
.navigation li {
    margin:0;
    padding:0;
    list-style-type: none;
}

.navigation > ul {
    display:flex;
    flex-flow: row nowrap;
    align-items: stretch center;
    margin:0;
    padding:0;
    background-color: $logo-background;
    border-top:1px solid $logo-color-primary;
    border-bottom:1px solid $logo-color-primary;
    font-size:16px;
    font-weight:bold;

    & > li {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        margin:0;
        padding:0;
        text-align:center;
        display: block;
        position:relative;
        transition:all .3s ease-in-out;
        a {
            display:inline-block;
            height:40px;
            line-height: 40px;
            width:100%;
        }
        & > div.nav-section {
            visibility: hidden;
            position: absolute;
            background-color:white;
            display:block;
            left:0;
            right:0;
            z-index: 101;
        }
        &:hover {
            background-color:white;
            color:black;
            & > div.nav-section {
                visibility: visible;
            }
        }
    }
}

/*** normalize.css styles decorations ***/
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #818a91;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

table {
  background-color: transparent;
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #818a91;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.1);
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}

kbd {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: .2rem;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  line-height: 1.5;
  color: #373a3c;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

.img-responsive,
.figure > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: .3rem;
}

/* Common button css */
.btn {
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .0625rem solid transparent;
  border-radius: .25rem;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.btn.focus {
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
}

.btn.disabled,
.btn:disabled,
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
}

a.btn.disaabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  background-image: none;
}

.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary.disabled:hover,
.btn-primary:disabled:hover,
fieldset[disabled] .btn-primary:hover {
  background-color: #0275d8;
  border-color: #0275d8;
}

/*FLEX GRID IS ALPHA*/
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

.grid > [class*="xs-"],
.grid > [class*="sm-"],
.grid > [class*="md-"],
.grid > [class*="lg-"] {
  position: relative;
  display: inline-block;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  vertical-align: top;
}
